@import '../variables';
@import '../mixins';

.excel__formula {
  border-bottom: 1px solid $border-base;
  font-size: .8rem;
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .info {
    border-right: 1px solid $border-base;
    font-style: italic;
    padding: 0 10px;
    height: 100%;
  }
  .input {
    color: $black-color;
    padding: 2px 4px ;
    outline: none;
    width: 100%;
    height: 100%;
  }
}
