@import '../variables';
@import '../mixins';

.excel__toolbar {
  border-top: 1px solid $border-base;
  border-bottom: 1px solid $border-base;
  .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-group {
      border-right: 1px solid $border-base;
      padding: 0 2px;
    }
  }
  .button {
    @include button(green, 18px, 5px);
  }
}
