@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'separated/common';

.excel {
  max-width: 100%;
  height: 100%;
}

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 18px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  font-family: $mainFont;
  font-family: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row {
  position: relative;
  padding: 40px 0;

  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }

  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }

  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  padding: 10px 30px;
}
